{% extends "base.html"%}


{% block title %}Hello World {% endblock %}

{% block header %}Welcome to my Hello World vitual app!{% endblock %}

{%block content %}

<div  class = "admin_panel">
    <form name="profileForm" mehtod="POST" action="">
        <div class="fromObject_container label_center">
            {% csrf_token %}
            {% for profile in Profile %}
                <ul>
                    <li> {{ profile }}
                </ul>
            {% endfor %}
        </div>
    </form>

</div>



{% endblock %}